<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Ajax Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

        <h1>Demo 2 - Ajax Form</h1>
        <form action='/find' method='post' class='ajax_form'>
          Find all users whose first name starts with
            {% csrf_token %}
            <input type='text' name='first_name_starts_with' id='ajax_first_name' />
        </form>
        <form action="/find_date" method = 'post' class='ajax_form'>
          {% csrf_token %}
            From: 
            <input type="date" name ="date_start" id = 'ajax_start_date'>

            to:
            <input type="date" name="date_end" id="datePicker">
        </form>
        <div id = "links">
          
          </div>
          
          <script>
            var nums = "{{num}}";
            var num = parseInt(nums);
              $(document).ready(function(){
                
                for( i = 0; i <= num; i ++){
                  if (i % 10 == 0){
                    document.getElementById("links").innerHTML += "<p id= 'c"+ (i/10+ 1)+"' style ='display: inline-block; vertical-align:right; padding: 0 0 0 10px;'> " + (i/10 + 1)  + "</p>"
                  }
                }
            
                    $('#c1').click(function(){
                      var x = this.name;
                      $.get('/sum?page=1' , function(data){
                       document.getElementById("placeholder2").innerHTML= data
                      })
                    })
                    $('#c2').click(function(){
                      var x = this.name;
                      $.get('/sum?page=2' , function(data){
                       document.getElementById("placeholder2").innerHTML= data
                      })
                    })
                    $('#c3').click(function(){
                      var x = this.name;
                      $.get('/sum?page=3' , function(data){
                       document.getElementById("placeholder2").innerHTML= data
                      })
                    })
                    $('#c4').click(function(){
                      var x = this.name;
                      $.get('/sum?page=4' , function(data){
                       document.getElementById("placeholder2").innerHTML= data
                      })
                    })
                    $('#c5').click(function(){
                      var x = this.name;
                      $.get('/sum?page=5' , function(data){
                       document.getElementById("placeholder2").innerHTML= data
                      })
                    })
                    $('#c6').click(function(){
                      var x = this.name;
                      $.get('/sum?page=6' , function(data){
                       document.getElementById("placeholder2").innerHTML= data
                      })
                    })
                    $('#c7').click(function(){
                      var x = this.name;
                      $.get('/sum?page=7' , function(data){
                       document.getElementById("placeholder2").innerHTML= data
                      })
                    })
                  
              
            })
          </script>
        <div id='placeholder2' style='margin-top:35px; border:1px solid silver; width:750px; padding:10px;'>
            Placeholder for the Ajax Form
        </div>
        <script>

          $(document).ready(function(){
            console.log("hello")
            document.getElementById('datePicker').valueAsDate = new Date();
            $.ajax({
                url: '/all.html', /* Where should this go? */
                success: function(serverResponse) {  /* What code should we run when the server responds? */
                  
                  $('#placeholder2').html(serverResponse)
                }
            });
          });
          $('.ajax_form').submit(function(e){
            e.preventDefault()
          })
          $('#ajax_start_date').focusout(function(){
            $.ajax({
              url: '/find_date', /* Where should this go? */
              method: 'post', /* Which HTTP verb? */
              data: $(this).parent().serialize(), /* Any data to send along? */
              success: function(serverResponse) { 
                console.log("Received this from server:", serverResponse)/* What code should we run when the server responds? */
                $('#placeholder2').html(serverResponse)
              }
            })

          });
          $('#ajax_first_name').keyup(function(){
            $.ajax({
              url: '/find', /* Where should this go? */
              method: 'post', /* Which HTTP verb? */
              data: $(this).parent().serialize(), /* Any data to send along? */
              success: function(serverResponse) { /* What code should we run when the server responds? */
                $('#placeholder2').html(serverResponse)
              }
            })
          });
          
          $('#ajax_first_name').focusout(function(e){
            console.log("Hello")
            $.ajax({
                url: '/all.html', /* Where should this go? */
                success: function(serverResponse) {  /* What code should we run when the server responds? */
                  console.log("Received this from server:", serverResponse)
                  $('#placeholder2').html(serverResponse)
                }
            });
          });
        </script>
            <h1>Demo 3 - Ajax Form II</h1>
            <h2>Create a new user</h2>
            <form action='/create' method='post' class='ajax_form' id='create_user_ajax_form'>
                {% csrf_token %}
                First Name: <input type='text' name='first_name'/>
                Last Name: <input type='text' name='last_name'/>
                Email: <input type='text' name='email_address'/>
                <input type='submit' value='Submit' />
            </form>
            <script>
              $('#create_user_ajax_form').submit(function(e){
                e.preventDefault()
                $.ajax({
                  url: $(this).attr('action'), /* Where should this go? */
                  method: 'post', /* Which HTTP verb? */
                  data: $(this).serialize(), /* Any data to send along? */
                  success: function(serverResponse) { /* What code should we run when the server responds? */
                    $('#placeholder2').html(serverResponse)
                  }
                })
              });
            </script>
  </body>
</html>